/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ddd;
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: #8bc34a;
}

h1 {
    text-align: center;
    color: #8bc34a;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: #8bc34a;
    text-decoration: none;
}

#passwordPage {
    text-align: center;
    margin-top: 50px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #8bc34a;
    background-color: #1f1f1f;
    color: #ddd;
}

button {
    padding: 10px 20px;
    background-color: #8bc34a;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #4caf50;
}

#homePage {
    display: none;
    text-align: center;
}

#activeHunters, #currentBounties, #infoSection {
    margin-bottom: 30px;
}

#hunterList, #bountyList, #infoList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
}

#hunterList div, #bountyList div, #infoList div {
    background: #1f1f1f;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

#hunterList div:hover, #bountyList div:hover, #infoList div:hover {
    background: #333;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    margin: 10px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid #8bc34a;
    background-color: #1f1f1f;
    color: #ddd;
}
